body{
    padding:0;
    margin:0;
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #ffffff;
}
h1{
    font-size:60px;
    font-weight: 700;
    color:#383636;
    font-family: 'Merriweather', serif;
}
h2{
    font-size:40px;
    font-weight: bold;
    margin:60px 0;
    color:#15132c;
}
h3{
    font-size:20px;
    font-weight: bold;
}
p{
    color:#000000;
}
img{
    width:80%;
}
a{
    text-decoration: none;
}
.flexible{
    display:flex;
    justify-content: space-around;
}
.orange-color{
    color:#FFAD5A;
}
.button-style{
    background-color:#FF5959;
    color:#fff;
    padding:15px 30px;
    outline:none;
    border:none;
    font-size:16px;
    border-radius: 5px;
}
.half-space{
    width:40%;
    margin:0 5%;
    padding:40px;
    
}

   

.top-section h1{
    width:80%;
    border-left:4px solid #FF5959;
    padding-left:10px;
    border-radius:3px;
}
.image-box{
    margin-top:-80px;
}

.mission-section h2{
   text-align: center;
}
.mission-item{
    width:20%;
    margin:10px 0;
    padding: 25px;
    background:#4f9da631;
    border-radius: 25px;
}
.mission-item img{
    width:120px;
    height: 120px;
    margin:auto;
}
.unlimited-develop-section h2{
    line-height: 2px;
}
.unlimited-develop-sectiontwo h2{
    line-height: 2px;
}
#mi-two{
    background-color:#f7070714;
}
#mi-three{
    background-color:#eba4041f;
}


.footer-page{
    background-color: rgb(0, 0, 0);
    margin: 0%;
    text-align: center;
    color: rgb(255, 220, 220);
    height: 220px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}
.footercolor{
    color: #ffffff;
}